<launch>
    <!-- Start bebop -->
  <include file="$(find bebop_tools)/launch/bebop_nodelet_iv.launch" />



    <!-- tag trackers-->
  <include ns="quad_tag_tracker" file="$(find jetyak_dispatch)/launch/quad_tag_tracker.launch" />
  <include ns="feature_tag_tracker" file="$(find jetyak_dispatch)/launch/feature_tag_tracker.launch" />

  <!-- Launch package nodes
  <node pkg="ORB_SLAM2" type="Mono" name="Mono" output="screen" args="../config/ORBvoc.txt ../config/bebop1.yaml" />
 -->

  <!-- package nodes -->
  <node name="quad_controller" pkg="jetyak_dispatch" type="controller_node" output="screen" >
    <param name="maxDispatchVel" value=".05"/>
    <param name="landStartAlt" type="double" value="2"/>
    <param name="landingHeight" type="double" value=".5"/>
    <param name="landingHeightDecrement" type="double" value=".005"/>

    <remap from="land" to="/bebop/land"/>
    <remap from="takeoff" to="/bebop/takeoff" />
    <remap from="cmd_vel" to="/bebop/cmd_vel" />
    <remap from="fix" to="/bebop/fix" />

  </node>

  <node name="feature_tracker" pkg="jetyak_dispatch" type="feature_finder_node" output="screen" />

  <include file="$(find bebop_tools)/launch/joy_teleop.launch"/>
</launch>
